body {
    font-family: Arial, sans-serif;
    background-color: #f7f2f2;
    color: #333;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 12px;
    max-width: 1200px;
    margin: auto;
}

.container {
    display: flex;
    border-radius: 12px;
    border: 1px solid rgb(226, 226, 226);
    background-color: white;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
    margin-bottom: 12px;
}

.post {
    display: flex;
    flex-direction: row;
    position: relative;
}

.right {
    position: absolute;
    right: 10px;
}

.post_content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: left;
    gap: 8px;
}

.author {
    display: flex;
    flex-direction: column;
}

.create_post {
    height: 400px;
}

.hashtag {
    color: rgb(50, 78, 168);
}

#preview-img{
    max-height: 300px;
    width: auto;
    object-fit: contain;
}

#post_image{
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: rgb(66, 66, 66);
}

.content {
    font-size: 14px;
    clear: rgb(66, 66, 66);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_title {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 8px;
    padding: 10px;
}

.form_content {
    border-radius: 8px;
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
}

.form_image {
    border-radius: 8px;
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    color: gray;
}

.form_button {
    background-color: #ce7dbc;
    color: white;
    padding: 10px 20px;
    border: 1px solid #b969a8;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
}

.form_button:hover {
    background-color: #b663a4;
}
