{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'apka/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="navbar">
        <h1>AI social media site</h1>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="main">
        <div class="container create_post" id="create_post_container">
            Create post
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form_title" type="text" id="id_title" name="title" placeholder="Title">
                <textarea class="form_content" id="id_content" name="content" rows="2" placeholder="Content"></textarea>
                
                <label for="id_image" class="form_image">
                    Upload image
                    <input type="file" id="id_image" name="image" accept="image/*" style="display: none;">
                </label>

                <span>or</span>

                <textarea class="form_content" id="textInput" placeholder="Enter prompt"></textarea>
                <button type="button" onclick="generateImage()">Generate Image</button>
                <input type="hidden" id="generated_image_url" name="generated_image_url">

                <img id="preview-img" src="#" style="display: none;">
                <button class="form_button" type="submit">Post</button>
            </form>
        </div>
        <div class="posts">
            {% for post in posts %}
                <div class="container">
                    <span class="title">{{ post.title }}</span>
                    <span class="content">{{ post.content }}</span>
                    {% if post.image %}
                        <img id="post_image" src="{{ post.image.url }}" alt="Post Image">
                    {% endif %}
                </div>
            {% endfor %}
        </div>        
    </div>
</body>
</html>

<script>
    $(document).ready(function() {
        $('#id_image').change(function() {
            const file = this.files[0];
            const imgPreview = document.getElementById('preview-img');
            if (file) {
                const reader = new FileReader();
                reader.onload = function(event) {
                    imgPreview.src = event.target.result;
                    imgPreview.style.display = 'block';
                }
                $('#create_post_container').css('height', '640px');
                reader.readAsDataURL(file);
            } else {
                $('#create_post_container').css('height', '340px');
                imgPreview.style.display = 'none';
            }
        });

        function generateImage() {
            var prompt = $('#textInput').val();
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
            console.log(prompt);
            $.ajax({
                url: "{% url 'generate_image' %}",
                type: "POST",
                data: {
                    'prompt': prompt,
                    'csrfmiddlewaretoken': csrftoken,
                },
                success: function(response) {
                    $('#preview-img').attr('src', response.image_url);
                    $('#preview-img').css('display', 'block');
                    $('#generated_image_url').val(response.image_url);
                    $('#create_post_container').css('height', '540px');
                }
            });
        }
        window.generateImage = generateImage;
    });
</script>
