{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'apka/login.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="main">
        <h1>Sign Up to apka!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <h3>Or go to log in <a href="{% url 'login' %}">here</a></h3>
    </div>    
</body>
</html>
