{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'apka/login.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="main">
        <h1>Sign Up to apka!</h1>
        <form class="login" method="post">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit">Sign Up</button>
        </form>
        <h3>Or go to log in <a href="{% url 'login' %}">here</a></h3>
    </div>    
</body>
</html>
